<form name="registerForm" method="POST" action="/api/v1/home/users/add">
    <!-- needs security check method="POST" action="url/to/your/server/here" -->
    <h4>Información de la Cuenta</h4>
    <div class="row">
        <div class="col md-6">
            <div class="cell">
                <input name="name" type="text" placeholder="Nombre" class="wide-square" autofocus />
            </div>
            <div class="cell">
                <select name="IdType" class="wide-square">
                    <option value="CC">Cédula de Ciudadania</option>
                    <option value="CE">Cédula de Extranjería</option>
                    <option value="PE">Permiso de Extranjería</option>
                </select>
            </div>
            <div class="cell">
                <input name="address" type="text" placeholder="Dirección de domicilio" class="wide-square" />
            </div>
            <div class="cell">
                <select name="city" class="wide-square">
                    <option value="Cali">Cali</option>
                    <option value="Medellin">Medellín</option>
                    <option value="Bogota">Bogotá</option>
                    <option value="Buga">Buga</option>
                </select>
            </div>
            <div class="cell">
                <input name="userEmail" type="email" placeholder="Email" class="wide-square" />
            </div>
        </div>

        <div class="col md-6">
            <div class="cell">
                <input name="surname" type="text" placeholder="Apellido" class="wide-square" />
            </div>
            <div class="cell">
                <input name="userId" type="text" placeholder="Nº de Documento de Identidad" class="wide-square" />
            </div>
            <div class="cell">
                <input name="adressNeigh" type="text" placeholder="Barrio" class="wide-square" />
            </div>
            <div class="cell">
                <select name="department" class="wide-square">
                    <option value="Valle">Valle del Cauca</option>
                    <option value="Cundinamarca">Cundinamarca</option>
                    <option value="Cauca">Cauca</option>
                    <option value="Santander">Santander</option>
                </select>
            </div>
            <div class="cell">
                <input name="phone" type="text" placeholder="Númerp de Celular" class="wide-square" />
            </div>
        </div>
    </div>
    <button name="btn" id="btnForm" type="submit">Registrar</button> <!-- submit button-->
</form>