
/********************************        Customized styles.css      ****************************************/ 
@import url("https://fonts.googleapis.com/css2?family=Roboto Mono:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&display=swap");


/********Styles of welcome page***************/

.welcome-page {
  background-image: url('/imgs/bgr.png');
  background-size: 100% auto; /* Adjusts the width to match the viewport */
  background-repeat: no-repeat;
  height: 82vh;
}

.top-70{
  top: 70%;
}

header {
  display: flex;
  height: 20vh; /* Set container height to 100% viewport height */
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
}

nav {
  background-color: #526ea0;
}
/* 
main {
  font-size: 15px;
  font-family: Roboto Mono, monospace;
  font-weight: 700;
}
 */
.h1-main {
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: flex-end; /* Centers content vertically */
  height: 40vh; /* Set container height to 100% viewport height */
  color: rgba(255, 255, 255, 1);
  font-size: 25px;
  font-family: Roboto Mono, monospace;
  font-weight: 700;
  letter-spacing: -2.21px;
  word-wrap: break-word;
}

.h1-main h1{
  margin: auto; /* Centers horizontally and vertically */
  margin-top: auto; 
}

input {
  /* width: 100%; */
  border: 2px solid #ccc; /* Adjust border color as needed */
  border-radius: 8px; /* Creates blunt edges */
}

.p-center{
  color: rgb(88, 169, 236);
  font-size: 15px;
  font-family: Roboto Mono, monospace;
  font-weight: 700;
}

.icon{
  top: 250px;
  left: 120px;
  width: 250px;
  height: auto;
  position: absolute;
}

p {
  margin: 0;
}

footer{
  background-color: #526ea0;
  width: 100%;
  height: 20px;
  bottom: 0;
  color: white;
  font-size: 10px;
  font-family: Inter;
  font-weight: 500;
  margin-bottom: 0;
  position: absolute;
  display: flex;
  align-items: end;
  justify-content: center;
}

.icon-nav {
  top: 10px;
  right: 110px;
  width: 80px;
  height: auto;
  /* position: absolute; */
}

header>h1 {
  top: 1%;
  left: 40%;
  color: rgba(255, 255, 255, 1);
  font-size: 40px;
  line-height: 150%;
  font-family: Roboto Mono, monospace;
  font-weight: 700;
  letter-spacing: -2.21px;
  word-wrap: break-word;
  position: absolute;
}

.timeSquare{
  top:20%;
}

.day {
  position: absolute;
  top: 20px;
  left: 64px;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  line-height: 150%;
  font-family: Merriweather, serif;
  font-weight: 900;
  letter-spacing: -0.88px;
}

.month {
  position: absolute;
  top: 45px;
  left: 68px;
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  line-height: 150%;
  font-family: Merriweather, serif;
  font-weight: 400;
  letter-spacing: -0.46px;
}

.icons {
  position: absolute;
  top: 10px;
  right: 40px;
  width: 80px;
  height: 78px;
}

/* #iconAtt {
  position: absolute;
  right: 0px;
  width: 50%;
} */
#iconAtt{
  width: 40px;
}

#iconMenu {
  position: absolute;
  right: 40px;
  width: 50%;
}

.overlayIconAtt {
  position: absolute;
  top: 54%;
  left: 75%;
  transform: translate(-50%, -50%);
  color: gray;
  font-size: 8px;
  text-align: center;
  font-family: Merriweather, serif;
}

/********Styles of form page***************/
.page {
  background-color: #526ea0;
  display: block;
  width: 100%;
  height: 100px;
}

body>h1 {
  left: 380px;
  top: 400px;
  position: absolute;
  color: white;
  font-size: 130px;
  font-family: 'Liberation Mono Bold';
  font-weight: 700;
  line-height: 195px;
  word-wrap: break-word;

}

h4 {
  color: black;
  font-family: Roboto Mono, monospace;
}

.bgr1 {
  width: 100%;
  height: auto;
  display: flex;
}

.icon1 {
  width: 500px;
  height: auto;
  left: 128px;
  top: 578px;
  position: absolute;
}

input, form, select{
  color: black;
  font-size: 20px;
  font-family: Merriweather, serif;
  font-weight: 500;
}

.wide-square{
  width: 600px; /* Adjust width as needed */
  height: 40px;
}

form {
  text-align: center;
  width: 100%;
}

.row {
  overflow: hidden;
  padding: 10px;
  height: 70vh;
  width: 100%;
  
}

.column {
  float: left;
  width: 47%;
}

button{
  background-color: #526ea0; /* Set button background color */
  color: white; /* Set button text color */
  width: 150px;
  height: 40px;
  border: 2px solid #ccc; /* Adjust border color as needed */
  border-radius: 8px; /* Creates blunt edges */
  cursor: pointer;
  font-size: 20px;
  font-family: Merriweather, serif;
  font-weight: 500;
}

button:hover {
  background-color: #385486;
}

.button-re {
  background-color: #526ea0;
  color: white;
  width: 150px;
  height: 40px;
  border: 2px solid #ccc; 
  border-radius: 8px; 
  cursor: pointer;
  font-size: 20px;
  font-family: Merriweather, serif;
  font-weight: 500;
  --bs-btn-active-bg: #385486;
  --bs-btn-border-color: #ccc;
  --bs-btn-active-border-color: #ccc;
  --bs-btn-hover-border-color: #ccc;
}

.button-re:hover{
  background-color: #385486;
}
.button-re.active {
  background-color: #526ea0;
}
.button-re.active:hover {
  background-color: #385486;
}

/********Styles of table page***************/

.cell{
  padding: 10px;
}

table{
  margin-left: auto;
  margin-right: auto;
}

tr>*{
  border: 1px solid #526ea0;
  padding: 10px;
  text-align: center;
}


/********Styles of home page***************/

.menu-item {
  border-bottom: 1px solid #ddd;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.menu-item button {
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.menu-item button:hover {
  background-color: rgb(88, 169, 236);
}

.home-column {
  flex: 1;
  padding: 0 1rem;
}

.fa-bars{
  color: rgba(255, 255, 255, 1);
}

.dropstart .dropdown-toggle::before {
  display: none; /* Hide the default arrow */
}

.alert {
  position: fixed;
  width: 76%;
  z-index: 100;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
}

.btn-block {
  height: auto;
  width: 50%;
}

.vh-80 {
  height: 80vh;
}

.button-container {
  margin-top: auto; /* Pushes the container to the bottom */
}

.bottom-10 {
  bottom: 10%;
}


.table td {
  align-items: center;
  }

.disabled-link {
    pointer-events: none;
    opacity: 0.5;
}

.text-alert {
  color: rgb(165, 10, 10);
  font-size: 12px;
  font-family: Merriweather, serif;
  font-weight: 400;
  text-align: start;
}

.text-alert-white {
  color: #dc3545;
  font-size: 12px;
  font-family: Merriweather, serif;
  font-weight: 400;
  text-align: center;
  background-color: #fac9ce;
  border-color: #dc3545;
  border-radius: 25px;
  border: 2px;
  height: 20px;
}

.dropdown-button {
  background-color: #526ea0;
  color: white;
  border: none;
  cursor: pointer;
  --bs-btn-active-bg: #385486;
  --bs-btn-border-color: #ccc;
  --bs-btn-active-border-color: #ccc;
  --bs-btn-hover-border-color: #ccc;
}
.dropdown-button:hover{
  background-color: #385486;
}

.page-section {
  height: 75vh;
  justify-content: center;
}

.general{
  height: 80vh;
  width: 100vw; 
}

.h1-body {
  display: flex;
  color: black;
  font-size: 25px;
  font-family: Roboto Mono, monospace;
  font-weight: 400;
}

.collapsing {
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease;
}

.collapse.show {
  height: auto;
}